<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="styles/stylesheet.css">
		<title><?js print(info['package'] ? info['package'].name + ' Documentation' : 'Documentation');?></title>
	</head>
	<body id="overview">

		<header>
			<div class="header">
				<?js print(render('header.tmpl', this)); ?>

				<h1><?js print(title); ?></h1>
			</div>
		</header>
		<div class="content">
			<table>
				<tbody>
					<?js 
					
					var me = this;
					
					docs.forEach(function(doc) { try{ ?>
					<tr>
						<td>
							<abbr title="<?js= doc.longname ?>">
								<?js if(doc.memberof){
									print(linkto(doc.memberof, doc.memberof) + '.');
								}?>
								<strong><?js= linkto(doc.longname, doc.name) ?></strong>
							</abbr>
						</td>
						<td><?js print(doc.summary ? doc.summary : (doc.description ? doc.description : '' ) );?></td>
						<td width="15%">
							<div class="location">
							<?js if(doc.meta && doc.meta.cpath && doc.meta.lineno) { ?>
								<a href="<?js= getURL('file:' + doc.meta.cpath) ?>#lineno<?js print(doc.meta.lineno); ?>"><?js= doc.meta.filename ?></a> at line <?js= doc.meta.lineno ?>
							<?js } ?>
							</div> 
						</td>
					</tr>
					<?js  }catch(e){ me.log.showError('Boom ON ' +doc.longname, e); } }); ?>
				</tbody>
			</table>
			
			
			<!-- #### DETAILS #### -->
			
			<?js 
					
			var me = this;

			docs.forEach(function(doc) { try{ 
			
				switch(doc.kind.toLowerCase()){
				
					case 'function':
						print(render('method.tmpl', doc));
					break;
					case 'event':
						print(render('event.tmpl', doc));
					break;
					default:
						print(render('property.tmpl', doc));
				}
			
			}catch(e){ me.log.showError('Boom ON ' +doc.longname, e); } }); ?>
			
			
			
			
			
		</div>

		<?js print(render('footer.tmpl', this)); ?>

	</body>
</html>