<script type="text/javascript" src="js/jQuery.172.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var header = $('.header'),
		content = $('.content')
		footer = $('footer')
	;

	function mtn(str){
		if(
			'' === str
			|| undefined === str
			|| null === str
		){
			return 0;
		}else{
			var a = parseInt(str.replace(/px|ex|em/, ''), 10);
			if(isNaN(a)){
				a = 0;
			}
			return a;
		}
	}
	
	function resize(){
		var availableHeight = $(window).height() - (header.outerHeight() + footer.outerHeight()),
			availableWidth = $(window).width(),
			contentOffsetH = mtn(content.css('borderTopWidth')) + 
				mtn(content.css('marginTop')) +
				mtn(content.css('paddingTop')) +
				
				mtn(content.css('paddingBottom')) +
				mtn(content.css('marginBottom')) +
				mtn(content.css('borderBottomWidth')),
			contentOffsetW = mtn(content.css('borderLeftWidth')) + 
				mtn(content.css('marginLeft')) +
				mtn(content.css('paddingLeft')) +
				
				mtn(content.css('paddingRight')) +
				mtn(content.css('marginRight')) +
				mtn(content.css('borderRightWidth'))
		;
		content.height(availableHeight - contentOffsetH);
		content.width(availableWidth - contentOffsetW);
	}
	resize();
	$(window).resize(resize);
});
</script>

<ul>
	<?js if(this.info['mainpage']) { ?>
	<li><a href="mainpage.html">Home</a></li>
	<?js } ?>
	<?js if(this.info['class']) { ?>
	<li><a href="class_index.html">Classes</a></li>
	<?js } ?>
	<?js if(this.info['mixin']) { ?>
	<li><a href="mixin_index.html">Mixins</a></li>
	<?js } ?>
	<?js if(this.info['interface']) { ?>
	<li><a href="interface_index.html">Interfaces</a></li>
	<?js } ?>
	<?js if(this.info['namespace']) { ?>
	<li><a href="namespace_index.html">Namespaces</a></li>
	<?js } ?>
	<?js if(this.info['module']) { ?>
	<li><a href="module_index.html">Modules</a></li>
	<?js } ?>
	<?js if(this.info['external']) { ?>
	<li><a href="external_index.html">Externals</a></li>
	<?js } ?>
	<?js if(this.info['event']) { ?>
	<li><a href="event_index.html">Events</a></li>
	<?js } ?>
	<?js if(this.info['event']) { ?>
	<li><a href="constant_index.html">Constants</a></li>
	<?js } ?>
	<?js if(this.info['function']) { ?>
	<li><a href="function_index.html">Methods/Functions</a></li>
	<?js } ?>
	<?js if(this.info['global']) { ?>
	<li><a href="global.html">Globals</a></li>
	<?js } ?>
	<li><a href="file_index.html">Files</a></li>
	<li><a href="doc-index.html">Index</a></li>
</ul>

<div id="title">
	<?js if(this.info.readme !== undefined) { ?>
	<a href="readme.html">
		<?js } ?>

		<?js print((info['package'] ? info['package'].name + ' ' : '') + 'API'); ?>

		<?js if(this.info.readme !== undefined) { ?>
	</a>
	<?js } ?>
</div>