<table>
  <tbody>
  
    <?js 
		var Options = {
			showParent: false,
			showListen: true,
			showFires: true
		};
		if(typeof(this.showParent) !== 'undefined'){
			Options.showParent = this.showParent ? true : false;
		}
		if(typeof(this.showListen) !== 'undefined'){
			Options.showListen = this.showListen ? true : false;
		}
		if(typeof(this.showFires) !== 'undefined'){
			Options.showFires = this.showFires ? true : false;
		}

		this.methods.forEach(function(method) { ?>

    <tr  class="<?js print((method.access ? method.access : 'public') + (method.inherited ? ' inherited' : '') + (method.borrowed ? ' borrowed' : '') + (method.mixed ? ' mixed' : '')); ?>">
      <td class="type">
      	<span>
      	<?js print(render('returns.tmpl', method)); ?>
      	</span>
      </td>
      
      <td class="last">
		<?js if(Options.showParent){?>
			<abbr title="<?js= method.longname ?>">
				<?js if(Options.showParent && method.memberof){
					print(linkto(method.memberof, method.memberof) + '.');
				}?>
				<strong><?js= linkto(method.longname, method.name) ?></strong>
			</abbr>
		<?js }else{ ?>
			<a href="#<?js= method.id ?>">
				<abbr title="<?js= method.longname ?>">
					<?js= method.name ?>
				</abbr>
			</a>
		<?js } ?>
        
      	<span>
      		<?js print(render('signature.tmpl', method)); ?>
      	</span>
        
        <?js if(method.summary) { ?>
        	<p><?js= method.summary ?></p>
        <?js } ?>
		
		<?js if(Options.showFires && method.fires){
			print('<br/><h4>Fires:</h4>');
			print(render('fires.tmpl', method));
		}?>

		<?js if(Options.showListen && method.listen){
			print('<br/><h4>Listen:</h4>');
			print(render('listen.tmpl', method));
		}?>
      </td>
      
      <td>
      	<?js
			if(!Options.showParent){
				if(method.inherited) { 
					var parent = method.inherits.split('#')[0];
					print('<small>inherited from ' + linkto(parent, parent) + '</small>');

				} else if(method.borrowed && method.borrower) {
					print('<small>borrowed from ' + linkto(method.borrower, method.borrower) + '</small>');

				} else if(method.mixed && method.borrower) {
					print('<small>mixed from ' + linkto(method.borrower, method.borrower) + '</small>');
				}
      		}
      	?>
      </td>
    </tr>
    <?js }); ?>
    
  </tbody>
</table>